<div class="container">
    <%- include('./partials/header.ejs')  %>
</div>

<h1>
    something went wrong page
     <span style="color: brown;">
        <%= reqUrl%>
    </span>
    not found
</h1>