 <h3>Sgin in</h3>
<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username">

    <label for="password"><b>password</b></label>
    <input type="password" placeholder="Enter password" name="password">
    <input type="submit" value="Login" class="btn">
</form>
<a href="Register">Don't have a account?</a>

